<h1>Hello <%= @name %>!</h1>
<p>
Thank you for signing up to our shoppe! We will be periodically spamming you with email.
</p>

<p>
There is no way to unsubscribe.
Thanks
</p>
<p>
If your email is not <%= @email %>, please let us know! Also you should create an account with your email too, so that we can continue to spam your correct email.
</p>
