<h1>Your Orders</h1>
<%= link_to 'Download Order History as PDF', orders_path(format:'pdf'), class: "btn btn-primary" %>
<% @orders.each do |order| %>
  <%= render partial: "order_details", locals: {order: order} %>
<% end %>
